<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gongdae.app.admin.mapper.GuestManageMapper">
	<sql id="where-list">
	    <choose>
	        <when test="schType == 'login_id'">
	            ( INSTR(m.login_id, #{kwd}) &gt;= 1 )
	        </when>
	        <when test="schType == 'member_id'">
	            m.member_id = #{kwd}
	        </when>
	        <otherwise>
	            INSTR(${schType}, #{kwd}) &gt;= 1
	        </otherwise>
	    </choose>
	</sql>
	
	<select id="listMember" parameterType="map" resultType="com.gongdae.app.admin.domain.dto.GuestManageDto">
	    SELECT m.member_id, m.login_id, m.enabled, 
	        m.created_at, m.update_at, m.last_login, nickname,
	        name, email, phone, point, grade,
	        TO_CHAR(g.birth, 'YYYY-MM-DD') birth,
	        PROFILE_IMAGE_URL as profile_photo
	    FROM member m
	    LEFT OUTER JOIN guest_detail g ON m.member_id = g.member_id 
	    JOIN memberAuthority ma ON m.login_id = ma.login_id 
	    <where>
	        AND ma.authority = 'GUEST'
	        
	        <if test="kwd != null and kwd !='' ">
	            AND <include refid="where-list"/>
	        </if>
	        <if test="enabled != null and enabled != '' ">
	            AND m.enabled = #{enabled}
	        </if>
	    </where> 
	    ORDER BY m.created_at DESC
	    OFFSET #{offset} ROWS FETCH FIRST #{size} ROWS ONLY
	</select>
	
	<select id="dataCount" parameterType="map" resultType="Integer">
	    SELECT COUNT(*)
	    FROM member m
	    JOIN memberAuthority ma ON m.login_id = ma.login_id
	    <where>
	        AND ma.authority = 'GUEST'
	        <if test="kwd != null and kwd != '' ">
	            AND <include refid="where-list"/>
	        </if>
	        <if test="enabled != null and enabled != ''">
	            AND m.enabled = #{enabled}
	        </if>
	    </where> 
	</select>
	
	<select id="findById" parameterType="Long" resultType="com.gongdae.app.admin.domain.dto.GuestManageDto">
		SELECT m.member_id, m.login_id, password, enabled, 
			created_at, update_at, last_login, failure_cnt,
			name, TO_CHAR(birth, 'YYYY-MM-DD') birth, 
			NVL(TRUNC(MONTHS_BETWEEN(SYSDATE, birth)/12), -1) age, 
			email, phone, PROFILE_IMAGE_URL as profile_photo, point, nickname, grade
		FROM member m
		LEFT OUTER JOIN guest_detail g ON m.member_id = g.member_id
		WHERE m.member_id = #{member_id}
	</select>
	
	<update id="updateFailureCountReset" parameterType="Long">
		UPDATE member SET failure_cnt = 0
		WHERE member_id = #{member_id}
	</update>
	
	<update id="updateGuestEnabled" parameterType="map">
		UPDATE member SET enabled = #{enabled}
		WHERE member_id = #{member_id}
    </update>
    
    <update id="updateGuest" parameterType="map">
	    UPDATE member 
	    SET update_at = SYSDATE 
	    WHERE member_id = #{member_id}
	</update>

	<update id="updateGuestDetail" parameterType="map">
		UPDATE guest_detail
		SET grade = #{grade}
		WHERE member_id = #{member_id}
	</update>
	
	<insert id="insertGuestStatus" parameterType="com.gongdae.app.admin.domain.dto.GuestManageDto">
	    INSERT INTO member_status(num, member_id, status_code, memo, register_id, reg_date)
	    VALUES (seq_member_status.NEXTVAL, #{member_id}, #{status_code}, #{memo}, #{register_id}, SYSDATE)
	</insert>
	
	<select id="listGuestStatus" parameterType="Long" resultType="com.gongdae.app.admin.domain.dto.GuestManageDto">
		SELECT num, ms.member_id, status_code, memo, register_id, name registerName, reg_date
		FROM member_status ms
		LEFT OUTER JOIN guest_detail g ON ms.register_id = g.member_id		
		WHERE ms.member_id = #{member_id}
		ORDER BY num DESC
	</select>

	<select id="findByStatus" parameterType="Long" resultType="com.gongdae.app.admin.domain.dto.GuestManageDto">
		SELECT num, ms.member_id, status_code, memo, register_id, name registerName, reg_date
		FROM member_status ms
		LEFT OUTER JOIN guest_detail g ON ms.register_id = g.member_id		
		WHERE ms.member_id = #{member_id}
		ORDER BY num DESC
		FETCH FIRST 1 ROWS ONLY
	</select>
</mapper>