<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gongdae.app.mapper.SpaceManageMapper">

    <select id="spaceSeq" resultType="Long">
        SELECT SEQ_SPACE.NEXTVAL FROM DUAL
    </select>

    <select id="unitSeq" resultType="Long">
        SELECT SEQ_SPACE_UNIT.NEXTVAL FROM DUAL
    </select>

    <select id="listCategory" resultType="map">
        SELECT category_no, name 
        FROM CATEGORY_SPACE 
        ORDER BY category_no ASC
    </select>

    <select id="listOption" resultType="map">
        SELECT option_no, type, name, icon_url 
        FROM SPACE_OPTION 
        ORDER BY option_no ASC
    </select>

    <insert id="insertSpace" parameterType="com.gongdae.app.domain.dto.SpaceManageDTO">
        INSERT INTO SPACE (
            space_no, host_id, category_no, space_name, 
            biz_reg_num, address, detail_addr, region, 
            bank_name, account_no, account_holder
        ) VALUES (
            #{spaceNo}, #{hostId}, #{categoryNo}, #{spaceName}, 
            #{bizRegNum}, #{address}, #{detailAddr}, #{region}, 
            #{bankName}, #{accountNo}, #{accountHolder}
        )
    </insert>

    <insert id="insertSpaceImage" parameterType="com.gongdae.app.domain.dto.SpaceManageDTO">
        INSERT INTO SPACE_IMAGE (
            image_no, space_no, file_url
        ) VALUES (
            SEQ_SPACE_IMAGE.NEXTVAL, #{spaceNo}, #{fileUrl}
        )
    </insert>

    <insert id="insertSpaceOption" parameterType="com.gongdae.app.domain.dto.SpaceManageDTO">
        INSERT INTO SELECTED_SPACE_OPTION (
            sso_no, option_no, unit_no
        ) VALUES (
            SEQ_SELECTED_SPACE_OPTION.NEXTVAL, #{optionNo}, #{unitNo}
        )
    </insert>

    <insert id="insertSpaceUnit" parameterType="com.gongdae.app.domain.dto.SpaceManageDTO">
        INSERT INTO SPACE_UNIT (
            unit_no, space_no, title, price_per_hour, 
            max_capacity, description, thumbnail_url
        ) VALUES (
            #{unitNo}, #{spaceNo}, #{title}, #{pricePerHour}, 
            #{maxCapacity}, #{description}, #{thumbnailUrl}
        )
    </insert>

    <insert id="insertSpacePolicy" parameterType="com.gongdae.app.domain.dto.SpaceManageDTO">
        INSERT INTO SPACE_POLICY (
            policy_no, unit_no, min_hours, cancel_limit_hr, cleaning_fee
        ) VALUES (
            SEQ_SPACE_POLICY.NEXTVAL, #{unitNo}, #{minHour}, #{cancelLimitHr}, #{cleaningFee}
        )
    </insert>

    <insert id="insertSpaceUnitTime" parameterType="com.gongdae.app.domain.dto.SpaceManageDTO">
        INSERT INTO SPACE_UNIT_TIME (
            unit_time_no, unit_no, day_of_week, open_time, close_time
        ) VALUES (
            SEQ_SPACE_UNIT_TIME.NEXTVAL, #{unitNo}, #{dayOfWeek}, #{openTime}, #{closeTime}
        )
    </insert>

</mapper>